@page
@model LoginWith2faAuthenticatorModel
@{
    ViewData["Title"] = AuthenticationLocalizer["Two-factor authentication"];
}

<h1 class="headline-1">@ViewData["Title"]</h1>
<p>@AuthenticationLocalizer["Your login is protected with an authenticator app. Enter your authenticator code below."]</p>

<form method="post" class="space-y-4 md:space-y-6" asp-route-returnUrl="@Model.ReturnUrl">
    <input asp-for="RememberMe" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="alert--danger" role="alert"></div>

    <div class=input__container>
        <label asp-for="Input.TwoFactorCode" class="input__label">@AuthenticationLocalizer["Authenticator code"]</label>
        <input asp-for="Input.TwoFactorCode"  autocomplete="off" aria-required="true"
            class="input">

        <span asp-validation-for="Input.TwoFactorCode"></span>
    </div>

    <div class="checkbox">
        <div class="checkbox__input__container">
            <input asp-for="Input.RememberMachine" aria-describedby="remember" class="checkbox__input">
        </div>
        <div class="checkbox__label__container">
            <label asp-for="Input.RememberMachine" class="checkbox__label">
                @AuthenticationLocalizer["Remember this machine"]
            </label>
        </div>
    </div>

    <div>
        <button type="submit" class="w-full btn-flat--primary">@SharedLocalizer["Sign in"]</button>
    </div>
</form>

<p>
    @AuthenticationLocalizer["Don't have access to your authenticator device?"]
    &nbsp;
    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl" class="link">@Localizer["You can sign in with a recovery code."]</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}