@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = AuthenticationLocalizer["Resend email confirmation"];
}

<h1 class="headline-1">
    @ViewData["Title"]
</h1>

<div asp-validation-summary="ModelOnly" class="alert--danger" role="alert"></div>
<div class=alert--success>@AuthenticationLocalizer["Verification email sent. Please check your email."]</div>

<form class="space-y-4 md:space-y-6" method="post">
    <div class=input__container>
        <label asp-for="Input.Email" class="input__label">@SharedLocalizer["Email"]</label>
        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="@SharedLocalizer["name@example.com"]"
            class="input">

        <span asp-validation-for="Input.Email"></span>
    </div>

    <button type="submit" class="w-full btn-flat--primary mt-8">@SharedLocalizer["Resend"]</button>

    <p class="text-muted text-center mt-8">
        <a asp-page="./Login" class="link">@AuthenticationLocalizer["Back to Sign in"]</a>
    </p>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
