@page
@model ResetPasswordModel
@{
    ViewData["Title"] = SharedLocalizer["Reset password"];
}

<h1 class="headline-1">@ViewData["Title"]</h1>

<div asp-validation-summary="ModelOnly" class="alert--danger" role="alert"></div>

<form class="space-y-4 md:space-y-6" id="account" method="post">
    <input asp-for="Input.Code" type="hidden" />

    <input asp-for="Input.Email" type="hidden" autocomplete="username" aria-required="true" class="input">

   @*  <div class=input__container>
        <label asp-for="Input.Email" class="input__label">@Html.DisplayNameFor(m =>
            m.Input.Email)</label>
        <input asp-for="Input.Email" autocomplete="username" aria-required="true"
            placeholder="@Localizer["name@example.com"]" class="input">

            <span asp-validation-for="Input.Email" ></span>
    </div> *@

    <div class="input__container">
        <label asp-for="Input.Password" class="input__label">@SharedLocalizer["Password"]</label>
        <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" class="input">
        <span asp-validation-for="Input.Password"></span>
    </div>

    <div class="input__container">
        <label asp-for="Input.ConfirmPassword" class="input__label">@SharedLocalizer["Confirm password"]</label>
        <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" class="input">
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>

    <button type="submit" class="w-full btn-flat--primary">@SharedLocalizer["Reset password"]</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
