@page
@model ChangePasswordModel
@{
    ViewData["Title"] = SharedLocalizer["Change password"];
}

<h1 class="headline-1">@ViewData["Title"]</h1>

<partial name="_StatusMessage" for="StatusMessage" />

<form id="change-password-form" method="post" class="lg:w-96">
    <div asp-validation-summary="ModelOnly" class="alert--danger" role="alert"></div>

    <div class="input__container">
        <label asp-for="Input.OldPassword" class="input__label">
            @SharedLocalizer["Current password"]</label>
        <input asp-for="Input.OldPassword" autocomplete="current-password" aria-required="true" placeholder="@ProfileManagementLocalizer["Please enter your old password."]"
            class="input">
        <span asp-validation-for="Input.OldPassword"></span>
    </div>

    <div class="input__container mt-4">
        <label asp-for="Input.NewPassword" class="input__label">@SharedLocalizer["New password"]</label>
        <input asp-for="Input.NewPassword" autocomplete="current-password" aria-required="true" placeholder="@SharedLocalizer[" Please enter your new password."]"
            class="input">
        <span asp-validation-for="Input.NewPassword"></span>
    </div>

     <div class="input__container mt-4">
        <label asp-for="Input.ConfirmPassword" class="input__label">@SharedLocalizer["Confirm new password"]</label>
        <input asp-for="Input.ConfirmPassword" autocomplete="current-password" aria-required="true" placeholder="@SharedLocalizer["Please confirm your new password."]"
            class="input">
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>

    <div class="mt-8">
        <button type="submit" class="btn-flat--primary">@SharedLocalizer["Change password"]</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
